


.form {
  background-color: rgb(139, 199, 165);
  height: 200px;
  width: 230px;
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.form input {
  width: 220px;
  margin-bottom: 5px;
}

.form p {
  margin-bottom: 2px;
}

.form button {
  margin-top: 20px;
}
/* 
.toDoList {
  margin-top: 40px;
  padding: 10px;
  width: 90%;
  border: 2px solid black;
}

.toDoList h3 {
  text-align: center;
}  */

.toDo-List-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(37, 182, 133);
  border: 2px solid black;
  border-radius: 5px;
  height: 20px;
}

.toDo-List-item:last-child {
  margin-bottom: 0;
}

.inputTextH3 {
  margin: 0;
}

.toDo-list-btn {
  display: flex;
  align-items: center;

}

.btn-change {
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
